<div class="container">
  <h3 class="welcome">Резюме</h3>
</div>
<div class="col-wrapper block1">
  <div class="col col-550">
    <img class="my-pict" src="https://sun9-2.userapi.com/impg/nG5QozM9PkeFQkB35ZLcKkCwRMzb7owWOu2v8A/g0I95amOcII.jpg?size=642x673&quality=96&sign=9941d10aa3a1f0b64ccee9842864b27f&type=album" alt="Фото профиля"><br>
    <br>Email: stepan.surovtsev@inbox.ru<br>
    P.number: +7 902 403 95 96<br>
    Telegram: @ssurovtsev<br>
    Location: Москва - Россия<br>
    <br><h2>ОБО МНЕ</h2>
    <hr>
    <p>Изучаю языки программирования, IoT – технологии и принципы автоматизации процессов.
 Участвовал в «Хакатон 2022» с кейсом «Разработка IoT интерфейса и платформы для сбора данных с датчиков». Активно изучаю Java Script (Angular).
      Также, есть опыт в написании динамических веб-сайтов на основе Python, HTML, CSS с применением фреймворка Flask</p>
         <br><h2>ЯЗЫКИ ПРОГРАММИРОВАНИЯ</h2>
         <hr>
         <div class="col-wrapper block2">
             <div class="col col-180">
                 <p>
                     Python <br> C/C++ <br> Java Script (Angular) <br> HTML <br> CSS
                 </p>
             </div>
             <div class="col col-150">
                 <p>
                     80/100  <br> 60/100  <br> 70/100  <br> 80/100  <br>80/100  <br>
                 </p>
             </div>
         </div>
      <div>
          <br><h2>ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ </h2>
          <hr>
          <div class="col-wrapper block2">
              <div class="col col-180">
                  <p>
                      Jupiter <br> PyCharm <br> VS Code <br> VS 2022 <br> WebStorm
                  </p>
              </div>
              <div class="col col-150">
                  <p>
                      100/100  <br> 100/100  <br> 100/100  <br> 80/100  <br>80/100  <br>
                  </p>
              </div>
          </div>
      </div>

  </div>
  <div class="col col-350">
    <p class="name">Степан</p>
   <p class="lastname"> <strong>Суровцев</strong></p>
      <p>20 лет -- 24 сентября 2002<br><br><strong>FRONT-END DEVELOPER</strong><br><br></p>
      <h2>ОПЫТ РАБОТЫ</h2>
      <hr>
      <div class="col-wrapper ">
          <div class="col col-200">
              <p class="data">03-10-22 -- н.в. <br>(Москва - Россия)</p>
          </div>
          <div class="col col-400">
           <h5>ООО «Эволюция» - IT стартап UNIMON</h5>
              <h6><i>Помощник инженера</i></h6>
              <p>Обязанности:<br>
                  Прошивка, тестирование, настройка и сборка контроллеров и датчиков;
                  <br>настройка датчиков с протоколом LoRaWan и технологией BLE.
                  Ремонт оборудования: выявление испорченных компонентов устройства и их замена.</p>
              </div>
      </div>
      <br><h2>ОБРАЗОВАНИЕ</h2>
      <hr>
      <div class="col-wrapper">
          <div class="col col-200">
              <p class="data">2020 - 2024<br>(Москва - Россия)<br><br><br><br><br>2020 - 2024<br>(Москва - Россия)</p>

          </div>
          <div class="col col-400">
              <h5>РУДН, инженерная академия</h5>
              <h6><i>Управление в технических системах</i></h6>
              <p>Профиль:<br>
                  «Информационные технологии в управлении»</p>
              <h5>РУДН, инженерная академия</h5>
              <h6><i>Переводчик в сфере профессиональных коммуникаций</i></h6>
              <p>Английский язык</p>
          </div>
      </div>
      <br><h2>КАЧЕСТВА</h2>
      <hr>
      <div class="col-wrapper">
          <div class="col col-320-1">
              <p>
                  - Ответственный <br> - Трудолюбивый <br> - Коммуникабельный <br> - Пунктуальный <br> - Целеустремленный
              </p>

          </div>
          <div class="col col-300-2">
              <p >
                  - Организованный <br> - Аккуратный <br> - Стрессоустойчивый <br> - Легко обучаем
              </p>
          </div>

  </div>
      <br><h2 class="languages">ЯЗЫКИ</h2>
      <hr>
      <p>
          - Английский язык - B2 <br> - Китайский язык - A2 (HSK2)
      </p>
  </div>
    <br><h2>СПИСОК ИСТОЧНИКОВ</h2>
    <hr>
    <div class="col-wrapper ">
        <div class="col col-200 lib">
            <a href="http://qrcoder.ru" target="_blank"><img class="c1" src="http://qrcoder.ru/code/?%7Bhttps%3A%2F%2Fangular.io%2Fdocs&4&0" title="QR код"></a>
            <p class="note">Angular docs<br><br></p>
            <button class="more-info" onclick="window.location.href = 'https://angular.io/docs';">Перейти</button>
        </div>
        <div class="col col-200 lib">
            <a href="http://qrcoder.ru" target="_blank"><img class="c1" src="http://qrcoder.ru/code/?https%3A%2F%2Fmrroot.pro%2Fuploads%2Fpublic_files%2F2023-05%2Falfa.pdf&4&0" title="QR код"></a>
            <p class="note">JavaScript для начинающих</p>
            <button class="more-info" onclick="window.location.href = 'https://mrroot.pro/uploads/public_files/2023-05/alfa.pdf';">Перейти</button>
        </div>
        <div class="col col-200 lib">
            <a href="http://qrcoder.ru" target="_blank"><img class="c1" src="http://qrcoder.ru/code/?https%3A%2F%2Flearn.javascript.ru%2F&4&0" title="QR код"></a>
            <p class="note">Современный JavaScript</p>
            <button class="more-info" onclick="window.location.href = 'https://learn.javascript.ru/';">Перейти</button>
        </div>
        <div class="col col-200 lib">
            <a href="http://qrcoder.ru" target="_blank"><img class="c1" src="http://qrcoder.ru/code/?https%3A%2F%2Fhtml5book.ru%2F&4&0" title="QR код"></a>
            <p class="note2">HTML docs<br><br></p>
            <button class="more-info" onclick="window.location.href = 'https://html5book.ru/';">Перейти</button>
        </div>
        <div class="col col-200 lib">
            <a href="http://qrcoder.ru" target="_blank"><img class="c1" src="http://qrcoder.ru/code/?https%3A%2F%2Fcloud.mail.ru%2Fpublic%2FqE1K%2FkNQkNujoB&4&0" title="QR код"></a>
            <p class="note2">Резюме<br><br></p>
            <button class="more-info" onclick="window.location.href = 'https://cloud.mail.ru/public/qE1K/kNQkNujoB';">Перейти</button>
            <br><br><br>
        </div>
    </div>
</div>


