.welcome {
    text-align: center;
    margin-top: 15px;
}

.col-wrapper{width:960px; margin:0 auto;}
.col{margin:0 10px; float:left; display:inline;}
.col-550{width:450px;}
.col-350{width:470px;}
.col-180 {width: 180px}
.col-150 {width: 150px}

.block1 {
    margin-top: 50px;
}

.block2 {

}

.my-pict {
    width: 350px;
    height: auto;
}

.name {
    font-size: 2.5rem;
}

.lastname {
    font-size: 4rem;
    margin-top: -30px;
}

.col-200 {width: 135px}
.col-400 {width: 335px}
.col-320-1 {width: 250px}

.languages {
    margin-right: 350px;
}

.c1 {
    width: 132px;
    height: 132px;
    text-align: center;
    margin-left: 15px;
}

.more-info {
    width: 80px;
    height: 30px;
    background-color: #EAE0D4;
    border-radius: 20px;
    margin-left: 40px;
}

.lib {
    width: 150px;
    margin-left: 25px;
}

.note {
    margin-left: 30px;
}

.note2 {
    margin-left: 35px;
}

.skills {
  text-align: center;
}

.literature {
  margin-right: 600px;
}
