.back {
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
}
.col-wrapper{width:1850px; margin:0 auto;}
.col{margin:0 10px; float:left; display:inline;}
.col-670{width:550px;}
.col-250{width:350px;}

.pict {
    width: 1000px;
    height: auto;
    margin-left: 150px;
    margin-top: 60px;
}

.container {
    margin-bottom: 50px;
}

.alert {
    width: 600px;
    border-radius: 30px;
    margin-left: 15px;
    vertical-align: middle;

}

button {
    margin-right: 10px;
    border-radius: 30px;
}

