
  <div class="container">
    <header class="border-bottom lh-1 py-3 header">
      <div class="logo">
        <h1><a class=" name" routerLink="/catalog">Car For You</a></h1>
      </div>
    </header>

    <div class="nav-scroller  border-bottom " >
      <nav class="nav nav-underline justify-content-between navigation_bar" >
        <a class="nav-item nav-link nav_bar navigation_bar catalog" routerLink="/catalog">Главная</a>
        <a class="nav-item nav-link nav_bar navigation_bar main" routerLink="/">Функционал</a>
        <a class="nav-item nav-link nav_bar navigation_bar info" routerLink="/about">Информация</a>
        <p class="d-flex justify-content-end align-items-center"></p>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>


<!--  <footer class="footer">-->
<!--    <div class="cBy">-->
<!--      <p class = created-by>Created by S. Surovtsev 2023</p>-->
<!--    </div>-->
<!--  </footer>-->



